@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromTop100 {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
